.sltop
  .sltop__main
    .sltop__sabu1
      concept
    .sltop__sabu2
      こちらのサイトはランディングページを参考に作成しています。
      %br
      ランディングページ（LP)とは？
      %br
      様々なネット広告やリンクをクリックした際に表示される
      %br
      サイトを含むWebページ全般のコト
      %br
      申し込みボタンがついてる事が重要　＊HPとは別物
  .sltop__btn
    =link_to root_path do
      %span.important トップページへ


.image2
  %span.image01
  %span.image02
  %span.image03