.top01
  .contents1
    .contents1__hader
      .contents1__hader--box
        プロフィール　経歴
  .contents2
    .contents2__box
      .contents2__one
        名前
        %br
        %br
        職歴
        %br
        %br
        %br
        %br
        趣味
        %br
        %br
        %br

        配属
        
      .contents2__two
        タナカ　シュウタ
        %br
        　田中　　秀太
        %br
        %br
        %br
        ２００７年４月　どらっぐぱぱす入社
        %br
        ２０１２年１１月当時最年少で店長へ昇格
        %br
        ２０１３年医薬品販売コンクール
        %br
        達成率全店１位で表彰される
        %br
        ２０１６年社内販売コンクール
        達成率半年連続１位で表彰される
        %br
        %br
        %br
        自己啓発系You Tubeを見る
        %br
        読書
        %br
        音楽鑑賞
        %br
        %br
        %br
        %br
        一般社団法人倫理研究所
        %br
        練馬区倫理法人会 運営委員
  .contents__footers
    .contents__footers--box
      .contents__footers--one
        %br
        %br
        %br
        %br
        %br
        = link_to root_path do
          %span
            戻る
      .contents__footers--two
        = image_tag "bg/tanaka2.jpg",width: "200",height:"200", class:"hon"
      .contents__footers--three
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnerimaku.rinnri%2Fposts%2F2856546881055864&width=500" width="100%" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>,