.touroku{
  width:100%;
  height:100%;
  background-image:  image-url("bg/haik.jpg");
background-size: 100% 100%;

  &__header{
    width:100%;
    height:150px;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
  }
  &__top{
    width:80%;
    height:600px;
    display: flex;
    margin: 0 auto;
  }
    &__one{
      width: 50%;
      font-size: 30px;
  }
    &__two{
      width: 50%;
      font-size:23px;
      text-align: right;
      margin-right: 50px;
  }
}