* {
  box-sizing: border-box;
  .contents1{
    width:100%;
    height: 100vh;
  &__hader{
    width:100%;
    height:100px;
    background-color:rgb(54, 50, 50);
    font-size: 40px;
    font-weight: 700;
    color: lightgray;
    font-style: oblique;
    padding: 15px 0 0 100px;
    }
    &__box{
      padding: 0 100px;
      width:100%;
      height:100%;
      display: flex;
      &--one{
        width:20% ;
        background-color: lightpink;
        &--text{
          span1{
            font-size: 12px;
          }
          font-size: 25px;

          }
        }
      &--two{
        width: 45%;
        background-color: rgb(107, 168, 206);
        .contents__box--two--text{

          }
        }
      &--three{
        width: 16%;
        background-color: rgb(209, 189, 201);
        margin-top: 10px;
        }
    .hon{
      width:100% ;
      transform: rotate( +90deg );
    }
    .hon1{
      transform: rotate( +180deg );
    }
    span {
      display: inline-block;
      position: relative;
      padding: 0.35em 1em;
      background: #668ad8;/*ボタン色*/
      color: #FFF;
      text-decoration: none;
    }
    
    span:before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      width: -webkit-calc(100% - 16px);
      width: calc(100% - 16px);
      height: 0;
      border: solid 8px transparent;
      border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/
    }
    
    span:active {
      /*押したとき*/
      padding: 0.32em 0.9em;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    
    span:active:before { 
      width: -webkit-calc(100% - 12px);
      width: calc(100% - 12px);
    }
    
    span:active:before {
      top:-12px;
      border-width: 6px;
    }
    }
  }
}